$color_1: hsl(0, 0%, 100%);
$color_2: hsl(216, 12%, 8%);
$color_3: hsl(213, 19%, 18%);
$color_4: hsl(25, 97%, 53%);
$color_5: hsl(217, 12%, 63%);
$color_6: hsl(216, 12%, 54%);
$font-family_1: "Overpass", sans-serif;
$background-color_3: #212832;
$background-color_2: #273039;
$background-color_3: #12c958;
$background-color_4: #fb7413;

html {
  background-color: $background-color_3;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
body {
  #plate {
    background-color: $background-color_2;

    height: 300px;
    width: 300px;
  }
}

.container {
  display: flex;
}
.rating-icon {
  background-color: $background-color_2;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: $color_1;
  border-radius: 50%;
  font-weight: 600;
  font-family: $font-family_1;
  margin-right: 5px;
  cursor: pointer;
  &:hover {
    background-color: $background-color_3;
  }
}
.rating-selected {
  background-color: $background-color_3;
}
.submit {
  background-color: $background-color_4;
  padding: 10px;
  border-radius: 50px;
  margin-top: 10px;
  width: 230px;
}

#thankYou {
  display: none;
}
